@import "mixin-fonts";
@import "variable";

.contacts {
	width: 1600px;
	background-image: url(../img/background/Map.jpg);
	&__box {
		max-width: 620px;
		height: 588px;
	}
	&__card {
		margin-left: 222px;
	}
}
.card {
	background: #F3FAFF;
}
.location {
	&__title {
		font-size: 20px;
		color: $background-btn;
	}
	&__text {
		font-size: 20px;
	}
	&__tel {
		font-size: 25px;
	}
}
.tr {
	font-size: 35px;
}