@import "mixin-fonts";
@import "variable";

.consultation {
	width: 1600px;
	height: 471px;
	background-image: url(../img/background/drawing.jpg);
}
.box-form {
	width: 570px;
	height: 582px;
	top: -40px;
	box-shadow: 7px 5px 5px 5px #413f3f;
	background-color: #ffffff;
	margin-left: 815px;
}
.was-validated .form-control:invalid {
	width: 428px;
	border-radius: none;
	border-color: #ffffff;
	border-bottom-color: #666;
}
.btn-card {
	width: 428px;
	background-color: $background-btn;
}