@import "mixin-fonts";
@import "variable";

.about-company {
	width: 1400px;
		&__body {
			max-width: 540px;
		}
}
.details {
	cursor: pointer;
	color: #FDD444;
}
.content_block {
	overflow: hidden;
	position: relative;    
}
.content_block.hide {
	height: 300px;
}
.content_block.hide:after{
	content: "";
	display: block;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
}
.drawing {
	width: 618px;
	height: 503px;
}
.career {
	width: 970px;
	top: 1880px;
	left: 400px;
}
.success {
	font-size: 50px;
	color: $fonts-color;
		&__span {
			padding-top: 15px;
		}
}
.results-work {
	margin-top: 169px;
		&__text {
			@include Noto-Sans;
			font-size: 20px;
			color: rgba(101, 181, 252, 0.6);
			&__text:hover {
				color: #65B5FC;
			}
		}
}
.carousel-big {
	margin-bottom: 225px;
}
.carousel-cover {
	width: 1200px;
}
.carousel-card-img {
	width: 370px;
	height: 228px;
}
.title-card {
	font-size: 22px;
	color: $project-texts;
}
.fr {
	font-size: 15px;
}
.vr {
	font-size: 11px;
}
.the-details {
	font-size: 16px;
}
.meters {
	width: 126px;
	height: 36px;
	background-color: $background-btn;
}
.meters-span {
	color: #fff;
}
.arrow-controll {
	width: 15px;
	height: 30px;
	color: #65B5FC;
	margin-left: -70px;
	margin-top: 60px;
}




